/* *{margin:0;padding:0;} */
body, p, h1, h2, h3, h4, h5, h6, a, span, li {
  color: white;
  font-family: Orbitron;
}
body{
    background-color:black;
    background-image: url('background-grid.svg');
    background-repeat: repeat;
    background-position: top left;
    background-attachment: fixed;
}

/* Header */
.nav-bar{
  display:flex;
  justify-content: center;
  align-items: center;
}
.nav-bar .nav-links{display:flex;padding:12px;
}
.nav-bar *{list-style-type: none;}
.dropdown .dropdown-content{display:none;}
.dropdown:hover .dropdown-content{display:block;}
.nav-bar a img{height:50px;}